.esd-home{
    display: flex;
    align-items: center;
    height: 100%;
    .home-button-container{
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
        .esd-card-button{
            flex-grow: 1;
            margin-right: 15px;
            &:nth-last-child(1){
                margin-right: 0;
            }
        }
        h4{
            margin-bottom: 0;
        }
        .event-icon{
            color: #EE2677;
        }
        .calendar-icon{
            color: #49C6E5;
        }
        .service-icon{
            color: #F79824;
        }
        .dashboard-icon{
            color: #31E981;
        }
        
    }
}