.esd-login{
    height: 100%;
    display: flex;
    align-items: center;
    .esd-glass-container{
        //padding: 40px;
    }
    .mat-form-field{
        .mat-form-field-underline{
            display: none;
        }
        .mat-form-field-flex{
            background-color: #fff;
            border-radius: 10px;
        }
    }
    img{
        width: 400px;
    }
    .login-container-left{
        display: flex;
        flex-direction: column;
        border-right: 1px solid #eee;
        padding: 30px;
        h3{
            text-align: center;
            margin-bottom: 20px;
        }
        a{
            text-align: right;
            margin-bottom: 30px;
        }
    }
    .login-container-right{
        display: flex;
        flex-direction: column;
        padding: 30px;
        h3{
            text-align: center;
            margin-bottom: 20px;
        }
        button{
            margin-top: 20px;
        }
    }
}