<div class="esd-home">
    <div class="container">
        <div class="esd-glass-container">
            <div class="row header">
                <div class="col-md-6">
                    <img src="../../assets/images/logo.png">
                </div>
                <div class="col-md-6 d-flex align-items-center justify-content-end">
                    <a href="#" class="mr-3">My Account</a>
                    <a href="#" class="">Logout</a>
                </div>
            </div>
            <h3>Welcome Nilu</h3>
            <div class="home-button-container">
                <button mat-button class="esd-card-button">
                    <i class="material-icons event-icon">event</i>
                    <h4>Plan My Event</h4>
                </button>
                <button mat-button class="esd-card-button">
                    <i class="material-icons calendar-icon">date_range</i>
                    <h4>Event Calendar</h4>
                </button>
                <button mat-button class="esd-card-button">
                    <i class="material-icons service-icon">settings_suggest</i>
                    <h4>Add Service</h4>
                </button>
                <button mat-button class="esd-card-button">
                    <i class="material-icons dashboard-icon">admin_panel_settings</i>
                    <h4>Dashboard</h4>
                </button>
            </div>
        </div>
    </div>
</div>