<div class="esd-login">
    <div class="container">
        <div class="esd-glass-container">
            <div class="row">
                <div class="col-md-12 mb-3 justify-content-center d-flex">
                    <img src="../../assets/images/logo.png">
                </div>
            </div>
            <div class="row login-container">
                <div class="col-md-6 login-container-left">
                    <h3>Login</h3>
                    <mat-form-field class="" appearance="fill">
                        <mat-label>Username</mat-label>
                        <input matInput placeholder="" value="">
                    </mat-form-field>
                    <mat-form-field class="" appearance="fill">
                        <mat-label>Password</mat-label>
                        <input type="password" matInput placeholder="" value="">
                    </mat-form-field>
                    <a href="#">Forgot Password?</a>
                    <button class="esd-btn-primary" mat-button>Login</button>
                </div>
                <div class="col-md-6 login-container-right">
                    <h3>Create Account</h3>
                    <mat-form-field class="" appearance="fill">
                        <mat-label>Name</mat-label>
                        <input matInput placeholder="" value="">
                    </mat-form-field>
                    <mat-form-field class="" appearance="fill">
                        <mat-label>Email</mat-label>
                        <input type="email" matInput placeholder="" value="">
                    </mat-form-field>
                    <mat-form-field class="" appearance="fill">
                        <mat-label>Password</mat-label>
                        <input type="password" matInput placeholder="" value="">
                    </mat-form-field>
                    <button class="esd-btn-secondary" mat-button>Create Account</button>
                </div>
            </div>
        </div>
    </div>
</div>
