<div class="esd-dashboard">
    <div class="container">
        <div class="esd-glass-container">
            <div class="row header">
                <div class="col-md-6">
                    <img src="../../assets/images/logo.png">
                </div>
                <div class="col-md-6 d-flex align-items-center justify-content-end">
                    <a href="#" class="mr-3">My Account</a>
                    <a href="#" class="">Logout</a>
                </div>
            </div>
            <div class="section-title">
                <i class="material-icons mr-2">admin_panel_settings</i>
                <h3>Dashboard</h3>
            </div>
            <div class="secondary-container">
                <mat-tab-group class="primary-tabs" mat-stretch-tabs>
                    <mat-tab>
                        <ng-template mat-tab-label>
                            <mat-icon class="example-tab-icon mr-2">menu_book</mat-icon>
                            <h5>Orders</h5>
                        </ng-template>
                        <mat-tab-group class="secondary-tabs" mat-stretch-tabs>
                            <mat-tab label="Pending Approval">
                                <div class="item-row">
                                    <div class="user-info">
                                        <div class="user-avatar">
                                            <i class="material-icons">person</i>
                                        </div>
                                        <div class="d-flex flex-column">
                                            <span>John Smith</span>
                                            <span>2021 Dec 25</span>
                                        </div>
                                    </div>
                                    <div class="d-flex flex-column">
                                        <span>Wedding Event</span>
                                        <span>Premium Package</span>
                                    </div>
                                    <div class="d-flex flex-column">
                                        <span>Catering</span>
                                        <span>Transport</span>
                                    </div>
                                    <div class="">
                                        <span><strong>LKR2000.00</strong></span>
                                    </div>
                                    <div class="d-flex">
                                        <button class="esd-btn-icon-primary mr-2" mat-button>
                                            <i class="material-icons">done</i>
                                        </button>
                                        <button class="esd-btn-icon-secondary" mat-button>
                                            <i class="material-icons">close</i>
                                        </button>
                                    </div>
                                </div>
                                <div class="item-row">
                                    <div class="user-info">
                                        <div class="user-avatar">
                                            <i class="material-icons">person</i>
                                        </div>
                                        <div class="d-flex flex-column">
                                            <span>John Smith</span>
                                            <span>2021 Dec 25</span>
                                        </div>
                                    </div>
                                    <div class="d-flex flex-column">
                                        <span>Wedding Event</span>
                                        <span>Premium Package</span>
                                    </div>
                                    <div class="d-flex flex-column">
                                        <span>Catering</span>
                                        <span>Transport</span>
                                    </div>
                                    <div class="">
                                        <span><strong>LKR2000.00</strong></span>
                                    </div>
                                    <div class="d-flex">
                                        <button class="esd-btn-icon-primary mr-2" mat-button>
                                            <i class="material-icons">done</i>
                                        </button>
                                        <button class="esd-btn-icon-secondary" mat-button>
                                            <i class="material-icons">close</i>
                                        </button>
                                    </div>
                                </div>
                            </mat-tab>
                            <mat-tab label="Approved"></mat-tab>
                        </mat-tab-group>
                    </mat-tab>
                    <mat-tab>
                        <ng-template mat-tab-label>
                            <mat-icon class="example-tab-icon mr-2">people</mat-icon>
                            <h5>Users</h5>
                        </ng-template>
                        Content 1
                    </mat-tab>
                    <mat-tab>
                        <ng-template mat-tab-label>
                            <mat-icon class="example-tab-icon mr-2">inventory</mat-icon>
                            <h5>Packages</h5>
                        </ng-template>
                        Content 1
                    </mat-tab>
                    <mat-tab>
                        <ng-template mat-tab-label>
                            <mat-icon class="example-tab-icon mr-2">festival</mat-icon>
                            <h5>Events</h5>
                        </ng-template>
                        Content 1
                    </mat-tab>
                </mat-tab-group>
            </div>
        </div>
    </div>
</div>